.Ul {
    width: 100%;
    max-width: 400px;
}

.LeaderBoard {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
  
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  

    padding: 0 20px 0 0;
}

.LeaderBoard:last-child {
    padding: 0;
}

.LeaderBoard li {
    background: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0 0 0;
    list-style: none;
}

.LeaderBoard::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.CurrentPlacement {
    height: 35px;
    width: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px;
    border: 2px solid #410D77;

    font-weight: bold;

    margin: 10px 10px 0 0;
}

.Contestant {
    display: grid;
    grid-template-columns: 50px auto;
    overflow: clip;
}

.ContestantWrapper {
    width: 100%;
}

.ContestantNameLogos p {
    overflow: hidden;
    margin: 0 10px 0 0;
    border-right: 1px solid #BEBDBD;
    white-space: nowrap;
}

.ContestantNameLogos {
    display: grid;
    border-bottom: 1px solid #BEBDBD;
    grid-template-columns: auto 30px 30px;
}

.ContestantNameLogos:nth-child(n+2) {
    max-width: 40px;
}

.ContestantNameLogos svg:first-of-type {
    margin: 0 5px 0 0;
}

.ContestantTimes {
    display: flex;
    color: #7D7474;
}

.ContestantTimes p {
    white-space: nowrap;
}

.ContestantTimes p:first-of-type {
    border-right: 1px solid #BEBDBD;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
}

.Uncompleted {
    max-width: 280px;
    text-align: center;
}

.Uncompleted h4 {
    color:black
}
