.SiteStyle {
  height: 100vh;
  width: 100vw;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-image: url(./assets/background.jpg);

  display: flex;
  justify-content: center;
}

.Container {
  width: 100%;
  min-width: 1200px;
  height: 100vh;

  padding: 40px 15%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.ServersContainer {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
 
  margin: 40px 0;
}

.LeaderBoardWrapper {
  height: 100%;
  width: 100%;
  overflow: clip;
}

.LeaderBoardContainer {
  width: 100%;
  height: 100%;
  min-height: 200px;

  padding: 10px 40px 40px 40px;

  background-color: #222;
  border-radius: 20px;

  overflow: clip;
}

.LeaderBoardHead {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.LeaderBoardHead button {
  background-color: #8C4AEC;
  padding: 5px;
  color: white;
  cursor: pointer;

  border: none;
  border-radius: 10px;
  border: 2px solid #8C4AEC;

  font-weight: 700;
}

.LeaderBoardHead button:hover {
  background-color: #EBEAFF;
  color: #8C4AEC;
  border: 2px solid #8C4AEC;
}

.LeaderBoardHolder {
  height: calc(100% - 50px);
  padding: 20px;

  background-color: #dfdfdf;

  display: flex;
  justify-content: space-evenly;

  border-radius: 10px;
}
